[Desktop Entry]
Name=Gitter ({{sandbox_id}})
Comment=Where developers come to talk
Exec=/home/{{user}}/bin/docker-gitter-{{sandbox_id}}
Icon=gitter
Terminal=false
Type=Application
Categories=Utility;
StartupWMClass=gitter-desktop
X-Desktop-File-Install-Version=0.26
